[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pyttsx3 = "*"
sounddevice = "*"
scipy = "*"
moviepy = "*"
pydub = "*"
pandas = "*"
pvrecorder = "*"
speechrecognition = "*"
google = "*"
pyaudio = "*"
google-cloud-speech = "*"
tiktoken = "*"
colorama = "*"
pinecone-client = "*"
pipenv = "*"
install = "*"
weaviate-client = "*"

[dev-packages]

[requires]
python_version = "3.9"
