aiohttp==3.8.4 ; python_version >= '3.6'
aiosignal==1.3.1 ; python_version >= '3.7'
async-timeout==4.0.2 ; python_version >= '3.6'
attrs==23.1.0 ; python_version >= '3.7'
authlib==1.2.0
beautifulsoup4==4.12.2 ; python_full_version >= '3.6.0'
cachetools==5.3.0 ; python_version ~= '3.7'
certifi==2022.12.7 ; python_version >= '3.6'
cffi==1.15.1
charset-normalizer==3.1.0 ; python_full_version >= '3.7.0'
colorama==0.4.6
cryptography==40.0.2 ; python_version >= '3.6'
decorator==4.4.2
distlib==0.3.6
dnspython==2.3.0 ; python_version >= '3.7' and python_version < '4.0'
filelock==3.12.0 ; python_version >= '3.7'
frozenlist==1.3.3 ; python_version >= '3.7'
google==3.0.0
google-api-core[grpc]==2.11.0 ; python_version >= '3.7'
google-auth==2.17.3 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
google-cloud-speech==2.19.0
googleapis-common-protos==1.59.0 ; python_version >= '3.7'
grpcio==1.54.0 ; python_version >= '3.7'
grpcio-status==1.54.0
idna==3.4 ; python_version >= '3.5'
imageio==2.28.0 ; python_version >= '3.4'
imageio-ffmpeg==0.4.8 ; python_version >= '3.4'
install==1.3.5
loguru==0.7.0 ; python_version >= '3.5'
moviepy==1.0.3
multidict==6.0.4 ; python_version >= '3.7'
numpy==1.24.3 ; python_version >= '2.7'
openai==0.27.5
pandas==2.0.1
pillow==9.5.0 ; python_version >= '3.7'
pinecone-client==2.2.1
pipenv==2023.4.20
platformdirs==3.5.0 ; python_version >= '3.7'
proglog==0.1.10
proto-plus==1.22.2 ; python_version >= '3.6'
protobuf==4.22.3 ; python_version >= '3.7'
pvrecorder==1.1.1
pyasn1==0.5.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pyasn1-modules==0.3.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pyaudio==0.2.13
pycparser==2.21
pydub==0.25.1
pyobjc==9.1.1 ; platform_system == 'Darwin'
pyobjc-core==9.1.1 ; python_version >= '3.7'
pyobjc-framework-accessibility==9.1.1 ; platform_release >= '20.0'
pyobjc-framework-accounts==9.1.1 ; platform_release >= '12.0'
pyobjc-framework-addressbook==9.1.1 ; python_version >= '3.7'
pyobjc-framework-adservices==9.1.1 ; platform_release >= '20.0'
pyobjc-framework-adsupport==9.1.1 ; platform_release >= '18.0'
pyobjc-framework-applescriptkit==9.1.1 ; python_version >= '3.7'
pyobjc-framework-applescriptobjc==9.1.1 ; platform_release >= '10.0'
pyobjc-framework-applicationservices==9.1.1 ; python_version >= '3.7'
pyobjc-framework-apptrackingtransparency==9.1.1 ; platform_release >= '20.0'
pyobjc-framework-audiovideobridging==9.1.1 ; platform_release >= '12.0'
pyobjc-framework-authenticationservices==9.1.1 ; platform_release >= '19.0'
pyobjc-framework-automaticassessmentconfiguration==9.1.1 ; platform_release >= '19.0'
pyobjc-framework-automator==9.1.1 ; python_version >= '3.7'
pyobjc-framework-avfoundation==9.1.1 ; platform_release >= '11.0'
pyobjc-framework-avkit==9.1.1 ; platform_release >= '13.0'
pyobjc-framework-businesschat==9.1.1 ; platform_release >= '18.0'
pyobjc-framework-calendarstore==9.1.1 ; platform_release >= '9.0'
pyobjc-framework-callkit==9.1.1 ; platform_release >= '20.0'
pyobjc-framework-cfnetwork==9.1.1 ; python_version >= '3.7'
pyobjc-framework-classkit==9.1.1 ; platform_release >= '20.0'
pyobjc-framework-cloudkit==9.1.1 ; platform_release >= '14.0'
pyobjc-framework-cocoa==9.1.1 ; python_version >= '3.7'
pyobjc-framework-collaboration==9.1.1 ; platform_release >= '9.0'
pyobjc-framework-colorsync==9.1.1 ; platform_release >= '17.0'
pyobjc-framework-contacts==9.1.1 ; platform_release >= '15.0'
pyobjc-framework-contactsui==9.1.1 ; platform_release >= '15.0'
pyobjc-framework-coreaudio==9.1.1 ; python_version >= '3.7'
pyobjc-framework-coreaudiokit==9.1.1 ; python_version >= '3.7'
pyobjc-framework-corebluetooth==9.1.1 ; platform_release >= '14.0'
pyobjc-framework-coredata==9.1.1 ; python_version >= '3.7'
pyobjc-framework-corehaptics==9.1.1 ; platform_release >= '19.0'
pyobjc-framework-corelocation==9.1.1 ; platform_release >= '10.0'
pyobjc-framework-coremedia==9.1.1 ; platform_release >= '11.0'
pyobjc-framework-coremediaio==9.1.1 ; platform_release >= '11.0'
pyobjc-framework-coremidi==9.1.1 ; python_version >= '3.7'
pyobjc-framework-coreml==9.1.1 ; platform_release >= '17.0'
pyobjc-framework-coremotion==9.1.1 ; platform_release >= '19.0'
pyobjc-framework-coreservices==9.1.1 ; python_version >= '3.7'
pyobjc-framework-corespotlight==9.1.1 ; platform_release >= '17.0'
pyobjc-framework-coretext==9.1.1 ; python_version >= '3.7'
pyobjc-framework-corewlan==9.1.1 ; platform_release >= '10.0'
pyobjc-framework-cryptotokenkit==9.1.1 ; platform_release >= '14.0'
pyobjc-framework-datadetection==9.1.1 ; platform_release >= '21.0'
pyobjc-framework-devicecheck==9.1.1 ; platform_release >= '19.0'
pyobjc-framework-dictionaryservices==9.1.1 ; platform_release >= '9.0'
pyobjc-framework-discrecording==9.1.1 ; python_version >= '3.7'
pyobjc-framework-discrecordingui==9.1.1 ; python_version >= '3.7'
pyobjc-framework-diskarbitration==9.1.1 ; python_version >= '3.7'
pyobjc-framework-dvdplayback==9.1.1 ; python_version >= '3.7'
pyobjc-framework-eventkit==9.1.1 ; platform_release >= '12.0'
pyobjc-framework-exceptionhandling==9.1.1 ; python_version >= '3.7'
pyobjc-framework-executionpolicy==9.1.1 ; platform_release >= '19.0'
pyobjc-framework-externalaccessory==9.1.1 ; platform_release >= '17.0'
pyobjc-framework-fileprovider==9.1.1 ; platform_release >= '19.0'
pyobjc-framework-fileproviderui==9.1.1 ; platform_release >= '19.0'
pyobjc-framework-findersync==9.1.1 ; platform_release >= '14.0'
pyobjc-framework-fsevents==9.1.1 ; platform_release >= '9.0'
pyobjc-framework-gamecenter==9.1.1 ; platform_release >= '12.0'
pyobjc-framework-gamecontroller==9.1.1 ; platform_release >= '13.0'
pyobjc-framework-gamekit==9.1.1 ; platform_release >= '12.0'
pyobjc-framework-gameplaykit==9.1.1 ; platform_release >= '15.0'
pyobjc-framework-imagecapturecore==9.1.1 ; platform_release >= '10.0'
pyobjc-framework-imserviceplugin==9.1.1 ; platform_release >= '11.0'
pyobjc-framework-inputmethodkit==9.1.1 ; platform_release >= '9.0'
pyobjc-framework-installerplugins==9.1.1 ; python_version >= '3.7'
pyobjc-framework-instantmessage==9.1.1 ; platform_release >= '9.0'
pyobjc-framework-intents==9.1.1 ; platform_release >= '16.0'
pyobjc-framework-intentsui==9.1.1 ; platform_release >= '21.0'
pyobjc-framework-iobluetooth==9.1.1 ; python_version >= '3.7'
pyobjc-framework-iobluetoothui==9.1.1 ; python_version >= '3.7'
pyobjc-framework-iosurface==9.1.1 ; platform_release >= '10.0'
pyobjc-framework-ituneslibrary==9.1.1 ; platform_release >= '10.0'
pyobjc-framework-kernelmanagement==9.1.1 ; platform_release >= '20.0'
pyobjc-framework-latentsemanticmapping==9.1.1 ; python_version >= '3.7'
pyobjc-framework-launchservices==9.1.1 ; python_version >= '3.7'
pyobjc-framework-libdispatch==9.1.1 ; platform_release >= '12.0'
pyobjc-framework-libxpc==9.1.1 ; platform_release >= '12.0'
pyobjc-framework-linkpresentation==9.1.1 ; platform_release >= '19.0'
pyobjc-framework-localauthentication==9.1.1 ; platform_release >= '14.0'
pyobjc-framework-localauthenticationembeddedui==9.1.1 ; platform_release >= '21.0'
pyobjc-framework-mailkit==9.1.1 ; platform_release >= '21.0'
pyobjc-framework-mapkit==9.1.1 ; platform_release >= '13.0'
pyobjc-framework-mediaaccessibility==9.1.1 ; platform_release >= '13.0'
pyobjc-framework-medialibrary==9.1.1 ; platform_release >= '13.0'
pyobjc-framework-mediaplayer==9.1.1 ; platform_release >= '16.0'
pyobjc-framework-mediatoolbox==9.1.1 ; platform_release >= '13.0'
pyobjc-framework-metal==9.1.1 ; platform_release >= '15.0'
pyobjc-framework-metalkit==9.1.1 ; platform_release >= '15.0'
pyobjc-framework-metalperformanceshaders==9.1.1 ; platform_release >= '17.0'
pyobjc-framework-metalperformanceshadersgraph==9.1.1 ; platform_release >= '20.0'
pyobjc-framework-metrickit==9.1.1 ; platform_release >= '21.0'
pyobjc-framework-mlcompute==9.1.1 ; platform_release >= '20.0'
pyobjc-framework-modelio==9.1.1 ; platform_release >= '15.0'
pyobjc-framework-multipeerconnectivity==9.1.1 ; platform_release >= '14.0'
pyobjc-framework-naturallanguage==9.1.1 ; platform_release >= '18.0'
pyobjc-framework-netfs==9.1.1 ; platform_release >= '10.0'
pyobjc-framework-network==9.1.1 ; platform_release >= '18.0'
pyobjc-framework-networkextension==9.1.1 ; platform_release >= '15.0'
pyobjc-framework-notificationcenter==9.1.1 ; platform_release >= '14.0'
pyobjc-framework-opendirectory==9.1.1 ; platform_release >= '10.0'
pyobjc-framework-osakit==9.1.1 ; python_version >= '3.7'
pyobjc-framework-oslog==9.1.1 ; platform_release >= '19.0'
pyobjc-framework-passkit==9.1.1 ; platform_release >= '20.0'
pyobjc-framework-pencilkit==9.1.1 ; platform_release >= '19.0'
pyobjc-framework-phase==9.1.1 ; platform_release >= '21.0'
pyobjc-framework-photos==9.1.1 ; platform_release >= '15.0'
pyobjc-framework-photosui==9.1.1 ; platform_release >= '15.0'
pyobjc-framework-preferencepanes==9.1.1 ; python_version >= '3.7'
pyobjc-framework-pushkit==9.1.1 ; platform_release >= '19.0'
pyobjc-framework-quartz==9.1.1 ; python_version >= '3.7'
pyobjc-framework-quicklookthumbnailing==9.1.1 ; platform_release >= '19.0'
pyobjc-framework-replaykit==9.1.1 ; platform_release >= '20.0'
pyobjc-framework-safariservices==9.1.1 ; platform_release >= '15.0'
pyobjc-framework-scenekit==9.1.1 ; platform_release >= '11.0'
pyobjc-framework-screencapturekit==9.1.1 ; platform_release >= '21.4'
pyobjc-framework-screensaver==9.1.1 ; python_version >= '3.7'
pyobjc-framework-screentime==9.1.1 ; platform_release >= '20.0'
pyobjc-framework-scriptingbridge==9.1.1 ; platform_release >= '9.0'
pyobjc-framework-searchkit==9.1.1 ; python_version >= '3.7'
pyobjc-framework-security==9.1.1 ; python_version >= '3.7'
pyobjc-framework-securityfoundation==9.1.1 ; python_version >= '3.7'
pyobjc-framework-securityinterface==9.1.1 ; python_version >= '3.7'
pyobjc-framework-servicemanagement==9.1.1 ; platform_release >= '10.0'
pyobjc-framework-shazamkit==9.1.1 ; platform_release >= '21.0'
pyobjc-framework-social==9.1.1 ; platform_release >= '12.0'
pyobjc-framework-soundanalysis==9.1.1 ; platform_release >= '19.0'
pyobjc-framework-speech==9.1.1 ; platform_release >= '19.0'
pyobjc-framework-spritekit==9.1.1 ; platform_release >= '13.0'
pyobjc-framework-storekit==9.1.1 ; platform_release >= '11.0'
pyobjc-framework-syncservices==9.1.1 ; python_version >= '3.7'
pyobjc-framework-systemconfiguration==9.1.1 ; python_version >= '3.7'
pyobjc-framework-systemextensions==9.1.1 ; platform_release >= '19.0'
pyobjc-framework-uniformtypeidentifiers==9.1.1 ; platform_release >= '20.0'
pyobjc-framework-usernotifications==9.1.1 ; platform_release >= '18.0'
pyobjc-framework-usernotificationsui==9.1.1 ; platform_release >= '20.0'
pyobjc-framework-videosubscriberaccount==9.1.1 ; platform_release >= '18.0'
pyobjc-framework-videotoolbox==9.1.1 ; platform_release >= '12.0'
pyobjc-framework-virtualization==9.1.1 ; platform_release >= '20.0'
pyobjc-framework-vision==9.1.1 ; platform_release >= '17.0'
pyobjc-framework-webkit==9.1.1 ; python_version >= '3.7'
python-dateutil==2.8.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyttsx3==2.90
pytz==2023.3
pyyaml==6.0 ; python_version >= '3.6'
regex==2023.3.23 ; python_version >= '3.8'
requests==2.28.2 ; python_version >= '3.7' and python_version < '4'
rsa==4.9 ; python_version >= '3.6'
scipy==1.10.1
setuptools==67.7.2 ; python_version >= '3.7'
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sounddevice==0.4.6
soupsieve==2.4.1 ; python_version >= '3.7'
speechrecognition==3.10.0
tiktoken==0.3.3
tqdm==4.65.0 ; python_version >= '3.7'
typing-extensions==4.5.0 ; python_version >= '3.7'
tzdata==2023.3 ; python_version >= '2'
urllib3==1.26.15 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
validators==0.20.0 ; python_version >= '3.4'
virtualenv==20.23.0 ; python_version >= '3.7'
virtualenv-clone==0.5.7 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
weaviate-client==3.16.2
yarl==1.9.2 ; python_version >= '3.7'