flask==2.2.2
colorama==0.4.6
datetime
docstring-parser==0.15
dotenv
fastapi==0.98.0
google
importlib
json
kivy==2.2.1
kivymd==1.2.0.dev0
math
numpy==1.23.5
openai==0.27.5
os
pickle
platform
pvporcupine==2.2.0
pvrecorder==1.1.1
pyaudio==0.2.13
pydub==0.25.1
random
re
simpleaudio==1.0.4
socket
soxr==0.3.5
speech_recognition
sqlite3
starlette==0.27.0
sys
threading
tiktoken==0.3.3
time
tqdm==4.65.0
transformers==4.31.0
types
typing
unittest
uuid
uvicorn==0.22.0
websockets==11.0.3
yaml
