<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename= 'css/style.css') }}"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"
        ></script>

        <title>Skills</title>
    </head>

    <body class="bg-dark">
        <nav class="d-flex flex-row-reverse p-0">
            <div id="sidebar" class="text-light bg-secondary pt-5 p-4">
                <a class="item text-light" href="{{url_for('skills')}}"
                    >Skills</a
                >
                <a class="item text-light" href="{{url_for('addons')}}"
                    >Addons</a
                >
                <a class="item text-light" href="{{url_for('config')}}"
                    >Config</a
                >
                <a class="item text-light" href="{{url_for('settings')}}"
                    >Settings</a
                >
            </div>
            <button id="hamburger" class="m-2">
                <img
                    class="hamburgerImage"
                    src="{{ url_for('static', filename= 'menu.png') }}"
                    alt=""
                />
            </button>
        </nav>

        <h1 class="text-center text-light p-5">
            Welcome to <span class="fw-bold">Skills</span>
        </h1>

        <div class="container">
            <h2 class="text-light text-center">Add a skill</h2>
            <form id="form" method="post">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="git-repo"
                            >Skill's Git Repo</span
                        >
                    </div>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="https://github.com"
                        id="git_repo"
                        name="git_repo"
                    />
                </div>
                <div class="btn_container d-flex justify-content-center">
                    <input class="btn btn-primary" id="addSkill" type="submit" value="Add Skill" />
                </div>
                <div class="d-flex justify-content-center skills_container">
                    <div class="card-container">
                        {%for item in installedSkills%}

                        <div class="text-light card">
                            <h3 class="card_title">{{item["name"]}}</h3>
                            <img class="card_image" src="{{url_for('static',  filename=item["image"])}}"/>
                            <img
                                class="threeDots"
                                id="threeDots"
                                data-menu_id="{{item["name"] + "_submenu"}}"
                                src="{{ url_for('static', filename= 'dots.png') }}"
                                alt=""
                            />
                            <div id="{{item["name"] + "_submenu"}}" class="text-secondary editMenu">
                                <li class="edit_action">Remove Skill</li>
                                <li class="edit_action">Update Skill</li>
                                <li class="edit_action">Go To Config</li>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </form>
        </div>
    </body>

    <script>
        let sidebarOpen = false;
        var socket = io();

        document.getElementById("hamburger").addEventListener("click", () => {
            if (sidebarOpen) {
                document.getElementById("sidebar").style.width = "0";
            } else {
                document.getElementById("sidebar").style.width =
                    "max(20vw, 10rem)";
            }

            sidebarOpen = !sidebarOpen;
        });

        socket.on("json", function (data) {
            console.log(data);
        });

        document.getElementById("form").addEventListener("submit", (e) => {
            e.preventDefault();
            const form = e.target;
            const fields = form.elements;

            const url = fields.git_repo.value;

            socket.emit("addSkill", { url: url });
        });

        const threeDotsList = document.querySelectorAll(".threeDots");

        threeDotsList.forEach((element) => {
            element.addEventListener("click", (e) => {
                console.log(document.getElementById(e.target.getAttribute("data-menu_id")).style.height);
                console.log("After");

                if (document.getElementById(e.target.getAttribute("data-menu_id")).style.height != "0px") {
                    document.getElementById(e.target.getAttribute("data-menu_id")).style.height = "0";
                    document.getElementById(e.target.getAttribute("data-menu_id")).style.padding = "0";
                    document.getElementById(e.target.getAttribute("data-menu_id")).style.border = "0";

                    console.log("making zero");
                } else {
                    document.getElementById(e.target.getAttribute("data-menu_id")).style.height = "fit-content";
                    document.getElementById(e.target.getAttribute("data-menu_id")).style.padding = "1rem";
                    document.getElementById(e.target.getAttribute("data-menu_id")).style.border = "0.2rem solid black";

                    console.log("making out");
                }
            });
        });

    </script>
</html>
