h1 {
    text-align: center;
}

.hamburgerImage {
    width: 2rem;
    height: 2rem;
}

#hamburger {
    all: unset;
    z-index: 10;
}

#sidebar {
    width: 0;
    height: 100vh;
    position: fixed;
    right: -4rem;
    transition: all 0.4s ease-in-out;
}

nav {
    margin: 0;
    position: fixed;
    width: 100vw;
}

.dot {
    background-color: greenyellow;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 100%;
    animation: pulse 1s infinite;
}

.dotContainer {
    display: inline-flex;
    justify-content: center;
    align-self: center;
    width: 1rem;
    position: relative;
    height: 1rem;
}

.online {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    font-size: xx-large;
    width: 100%;
    cursor: pointer;
    display: block;
}

@keyframes pulse {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 1rem;
        height: 1rem;
    }
    100% {
        width: 0rem;
        height: 0rem;
    }
}

.card {
    background-color: white;
    margin: 2vw;
    padding: 1rem;
    width: 30vw;
    border-radius: 1rem !important;
}

.card_image {
    width: 10vw;
    border-radius: 2vw;
    border: solid 0.2rem rgb(79, 113, 119);
    padding: 0.2rem;
}

.card_title {
    color: green;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.skills_container {
    flex-wrap: wrap;
}

img.threeDots {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1rem;
}

.editMenu {
    overflow: hidden;
}

.editMenu {
    border: black solid 0.2rem;
    width: fit-content;
    background-color: white;
    right: -2rem;
    top: 3rem;
    position: absolute;
    font-size: 1.5vw;
    padding: 1rem;
    border-radius: 1rem;
}

.edit_action {
    cursor: pointer;
}

#spinner {
    position: absolute;
    right: 45vw;
    height: 10vw !important;
    width: 10vw !important;
    border-width: 0.5rem !important;
    margin-top: 1rem;
    display: none;
}

.form-check-input {
    width: 2vw;
    height: 2vw;
}

.form-check-label {
    display: inline;
    padding-left: 1rem;
}

body {
    padding-bottom: 1rem;
}

.config-submit {
    margin: 1rem 0;
}

.center {
    display: flex;
    justify-content: center;
}
